* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: var(--secondary-colour);
}

h1 {
  font-size: xx-large;
}

.container {
  width: 80%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
}

.profile-entry {
  align-self: flex-start;

  display: flex;
  flex-direction: row;
  width: 100%;

  border-bottom: ridge 1px var(--secondary-colour);
}

.image {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
}
