<div class="container">
  <h1>schat</h1>
  <form action="submit" (ngSubmit)="handleLogin($event)" [formGroup]="form">
    <input
      class="simple-input"
      type="email"
      placeholder="email"
      formControlName="email"
    />
    <input
      class="simple-input"
      type="password"
      placeholder="password"
      formControlName="password"
    />
    <div>
      <button class="dark-button" type="submit">login</button>
      <button class="dark-button" (click)="handleRegsiter()" type="button">
        register
      </button>
    </div>
  </form>
</div>
