<div class="container">
  <input
    (input)="handleSearch($event)"
    placeholder="search for friends"
    class="simple-input"
    type="text"
  />
  <div class="users-list">
    <div
      *ngFor="let user of users; let last = last"
      class="user-entry"
      [ngClass]="{ 'last-user': last }"
    >
      <div class="image"></div>
      <p (click)="onProfileChange.emit(user)">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <button (click)="handleAddFriend(user)" class="dark-button">
        add friend
      </button>
    </div>
  </div>
</div>
