<div class="container">
  <h1 style="align-self: flex-start">chat</h1>
  <div class="friends-list">
    <div
      *ngFor="let friend of friends; let last = last"
      class="friend-entry"
      [ngClass]="{ 'last-friend': last }"
    >
      <div class="image"></div>
      <p (click)="onProfileChange.emit(friend)">
        {{ friend.firstName }} {{ friend.lastName }}
        <span
          style="
            font-size: x-small;
            color: var(--success);
            /* -webkit-text-stroke: 0.2px; */
            /* -webkit-text-stroke-color: var(--secondary-colour); */
          "
          >online</span
        >
      </p>
      <button (click)="handleChangeChat(friend)" class="dark-button">
        chat
      </button>
    </div>
  </div>
</div>
